<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904894098695-dijlrg3vokogs6kt3r0af41tieqfq7vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904894098695-dijlrg3vokogs6kt3r0af41tieqfq7vg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904894098695-8ts1opkceqip396fs9hqpuvvmdgvuokm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtjiRluvhVW0xQGyLrXvLZ9aH8G_cqMVw</string>
	<key>GCM_SENDER_ID</key>
	<string>904894098695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alpkaan.dostumolsana</string>
	<key>PROJECT_ID</key>
	<string>orti-app-2c44b</string>
	<key>STORAGE_BUCKET</key>
	<string>orti-app-2c44b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904894098695:ios:04244f924e4a970e17a9a2</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4607763683457173~8458538276</string>
</dict>
</plist>